.App {
  background-image: linear-gradient(90deg, #002f52 35%, #326589);
  height: 100vh;
  width: 100vw;
}

.App-header {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

li {
  list-style: none;
}

.opcoes {
  align-items: center;
  display: flex;
  gap: 10px;
}

.opcao {
  font-size: 18px;
  font-weight: bold;
  min-width: 120px;
  text-transform: uppercase;
  cursor: pointer;
}

.icons {
  align-items: center;
  display: flex;
  gap: 10px;
}
